    body{
    background-color: #efdecd;
    }
hr{
    background-color:#efdecd;
    border-style:none none;
    border-top-style:dotted;
    border-color:#d4d1ce;
    border-width:5px;
    width:5%;
    }
img{
    border-style:double;
    height:80%;}
    table {
  border-width: 5%;
  background-color: #efdecd;
}
ol{
padding:0.5%;
font-family:Arial;
font-size: 14px;
}
h3,h2,h1,tr,td,a,p,ol{color:black;
}
a,tr,td,h1 {

padding:0.5%;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
line-height: 2em;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: #FFFFF;
text-decoration: none;
background-color: #FFFFF;
text-indent: 5px;
list-style-position: outside;
list-style-image: url(arrow.gif);
list-style-type: square;
padding: 6px;
margin: 2px;
}
